<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Task Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div id="navbar" class="collapse navbar-collapse">
    <ul class=" navbar-nav mr-auto navbar-left">
      <li [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}">
        <a class="nav-link" [routerLink]="['/boards']">Boards</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto navbar-right ">
      <li [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
    </ul>
  </div>
</nav>